- @page_title = model.name + ' ' + t('snippet_file') + ' - ' + default_page_title

- render_region :main do |main|
  - main.header do
    %h1= model.name
.form_area
  - render_region :display_content do |display|
    - display.title do
      %p.title
        = t('name') + ':'
        = model.name
    - display.content do
      %p.content
        = t('body') 
        %br/
        ~ text_area_tag :content, model.content, :class => "textarea large", :style => "width: 95%"
- render_region :bottom do |bottom|
  - bottom.timestamp do
    = model.updated_at
